.hero .title body
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hero{
    background-image: url("backgroundSpace.jpg");
    background-color: #363442;
    background-position: right bottom;
    background-size: contain;
    background-repeat: no-repeat;
}
.depth{
    text-align: left;
}
.title
{
    padding: 10px;
}